.bg {
  display: none;

  &[data-bg="1"] {
    background: linear-gradient(#f45c43, #eb3349); //cherry
  }
  &[data-bg="2"] {
    background: linear-gradient(#dd5e89, #f7bb97); //pinky
  }
  &[data-bg="3"] {
    background: linear-gradient(#4cb8c4, #3cd3ad); //sea weed
  }
  &[data-bg="4"] {
    background: linear-gradient(#1a2980, #26d0ce); //aqua marine
  }
  &[data-bg="5"] {
    background: linear-gradient(lighten(#aa076b, 15%), lighten(#61045f, 15%)); //aubergine (mod)
  }
  &[data-bg="6"] {
    background: linear-gradient(lighten(#ff512f, 10%), lighten(#dd2476, 10%)); //bloody mary (mod)
  }
  &[data-bg="7"] {
    background: linear-gradient(#f09819, #edde5d); //mango pulp
  }
  &[data-bg="8"] {
    background: linear-gradient(#e55d87, #5fc3e4); //rose water
  }
  &[data-bg="9"] {
    background: linear-gradient(#348f50, #56b4d3); //emerald water
  }
  &[data-bg="10"] {
    background: linear-gradient(lighten(#da22ff, 20%), lighten(#9733ee, 15%)); //intuitive purple (mod)
  }
  &[data-bg="11"] {
    background: linear-gradient(#02aab0, #00cdac); //green beach
  }
  &[data-bg="12"] {
    background: linear-gradient(lighten(#d31027, 10%), lighten(#ea384d, 15%)); //playing with reds (mod)
  }
  &[data-bg="13"] {
    background: linear-gradient(#ef32d9, #89fffd); //azure pop
  }
  &[data-bg="14"] {
    background: linear-gradient(lighten(#4ecdc4, 10%), #556270); //disco (mod)
  }
  &[data-bg="15"] {
    background: linear-gradient(#be93c5, #7bc6cc); //dania
  }
  &[data-bg="16"] {
    background: linear-gradient(#808080, #3fada8); //iiit delhi
  }
  &[data-bg="17"] {
    background: linear-gradient(#f85032, #e73827); //blood red
  }
  &[data-bg="18"] {
    background: linear-gradient(#56ab2f, #a8e063); //lush
  }
  &[data-bg="19"] {
    background: linear-gradient(#42275a, #734b6d); //mauve
  }
  &[data-bg="20"] {
    background: linear-gradient(#4ca1af, #2c3e50); //deep sea space
  }
  &[data-bg="21"] {
    background: linear-gradient(#e96443, #904e95); //grapefruit sunset
  }
  &[data-bg="22"] {
    background: linear-gradient(#3a6073, #3a7bd5); //solid vault
  }
  &[data-bg="23"] {
    background: linear-gradient(#928dab, #00d2ff); //bright vault
  }
  &[data-bg="24"] {
    background: linear-gradient(#ffc371, #ff5f6d); //sweet morning
  }
  &[data-bg="25"] {
    background: linear-gradient(#ff9068, #ff4b1f); //sylvia
  }
  &[data-bg="26"] {
    background: linear-gradient(lighten(#cb3066, 15%), lighten(#16bffd, 10%)); //transfile (mod)
  }
  &[data-bg="27"] {
    background: linear-gradient(#ef629f, #eecda3); //tranquil
  }
}

.js {
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}
