.w { // wrapper
  position: relative;
}

.js {
  .w { // wrapper
    height: 100%;
    overflow: hidden;
  }
  .s { // slide
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px 0 140px;
    box-sizing: border-box;

    &.a { // active
      z-index: 5;
    }
  }
}
