.slide {
  z-index: 1;
  position: relative;

  p {
    position: relative;
    width: 92%;
    padding: 2em 0; //no-js -- overwritten when js is on
    margin: 0 auto;

    color: #ffffff;
    font-family: $font-stack;
    font-size: 36px;
    text-align: center;
    line-height: 1.1;
    font-feature-settings: "liga" 0;
    text-shadow: 1px 1px 5px rgba(#000, 0.5);

    &:after { //no-js -- overwritten when js is on
      content: " ";
      position: absolute;
      left: 30%;
      bottom: 0;
      width: 40%;
      height: 2px;
      background: #ffffff;
      box-shadow: 1px 1px 5px rgba(#000, 0.5);
    }

    @media screen and (max-width: $break-S) {
      text-align: left;
    }

    @media screen and (min-width: $break-M) {
      width: 81%;
    }

    @media screen and (min-width: $break-L) {
      width: 70%;
    }

    span, em {
      display: block;
      margin-bottom: 0.5em;
    }
    em {
      font-size: 1.4em;
      font-style: normal;
      font-feature-settings: "liga" 0, "smcp" 1;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      &:hover, &:focus {
        text-decoration: underline;
      }

      img {
        margin: 0 10px -5px;
      }
    }

    .btn-begin, .btn-more-info {
      cursor: pointer;
      padding: 0.6em 1em;
      margin: 1.0em auto 0.5em;

      color: #ffffff;
      font-family: $font-stack;
      font-size: 36px;
      text-align: center;
      line-height: 1.1;
      font-feature-settings: "liga" 0, "smcp" 1;
      text-shadow: 1px 1px 5px rgba(#000, 0.5);

      background: rgba(#000, 0.3);
      border: 0.06em solid #fff;
      box-shadow: 1px 1px 5px rgba(#000, 0.5), inset 1px 1px 5px rgba(#000, 0.2);
      transition: 200ms background;

      &:hover, &:focus {
        background: rgba(#000, 0.6);
        outline: none;
      }
    }

    .btn-begin {
      display: none;
    }
  }

  &:last-child {
    p {
      padding-bottom: 4em;

      &:after {
        display: none;
      }
    }
  }
}

.js {
  .slide {
    p {
      padding: 0;

      &:after {
        display: none;
      }

      // text transitions
      span, em {
        position: relative;
        transform: translateY(0.75em);
        opacity: 0.0;

        &.in {
          transition: all 2400ms $easeOutQuart;
          transform: translateY(0);
          opacity: 1.0;
        }
        &.out {
          transition: all 400ms $easeOutQuart;
          transform: translateY(0);
        }
      }
      .btn-begin {
        display: block;
      }
    }
    &.sizing {
      p {
        span, em {
          opacity: 0.1;
        }
      }
    }
  }
}
