.slide {
  position: relative;
  background: #b0ccdd; // FOOBAR

  p {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 92%;
    margin: 0;
    transform: translate(-50%, -50%);

    color: #FFFFFF;
    font-family: "Candara", "Apple Gothic", Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 1.1;
    font-feature-settings: "liga" 0, "smcp" 1;
    text-shadow: 1px 1px 5px rgba(#000000, 0.5);

    @media screen and (min-width: $break-M) {
      width: 81%;
    }

    @media screen and (min-width: $break-L) {
      width: 70%;
    }

    span, em {
      display: block;
      margin-bottom: 0.5em;
    }
    em {
      font-size: 1.4em;
      font-style: normal;
    }
  }
}

.js {
  .slide {
    p {
      span, em {
        position: relative;
        transform: translateY(0.75em);
        opacity: 0.0;

        &.in {
          transition: all 2400ms $easeOutQuart;
          transform: translateY(0);
          opacity: 1.0;
        }
        &.out {
          transition: all 400ms $easeOutQuart;
          transform: translateY(-0.25em);
        }
      }
    }
    &.sizing {
      p {
        span, em {
          opacity: 0.1;
        }
      }
    }
  }
}
