// Media Breakpoints
$break-S: 560px;
$break-M: 760px;
$break-L: 980px;

// Easing
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);

// Fonts
$font-stack: Candara, Optima, Roboto, GillSans, HelveticaNeue, sans-serif;
